*{
    background-color: rgb(199, 146, 77);
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  
    
}

.skills_center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.image_1{
    float: left;
}
.skills{
    width: 50%;
    margin-left: 40px;
    margin-top: 10%;
}
h1{
    text-align: center;
}

.skills_type{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}
 
.soft_content{
    width: 40%;
}
.hard_content{
    width: 40%;
}

h2{
    text-align: center;
}